<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.kedziora.emilek.roomies"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".app.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.activity.DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".app.activity.AccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_my_account"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".app.activity.GroupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_groups"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".app.activity.JoinGroupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_join_group"
            android:parentActivityName=".app.activity.GroupActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.kedziora.emilek.roomies.app.activity.GroupActivity" />
        </activity>
        <activity
            android:name=".app.activity.CreateGroupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_create_group"
            android:parentActivityName=".app.activity.GroupActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.kedziora.emilek.roomies.app.activity.GroupActivity" />
        </activity>
        <activity
            android:name=".app.activity.EditGroupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit_group"
            android:parentActivityName=".app.activity.GroupActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.kedziora.emilek.roomies.app.activity.GroupActivity" />
        </activity>
        <activity
            android:name=".app.activity.BudgetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_budget"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".app.activity.AddPaymentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_payment"
            android:parentActivityName=".app.activity.BudgetActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.kedziora.emilek.roomies.app.activity.BudgetActivity" />
        </activity>
        <activity
            android:name=".app.activity.EventsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_events"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".app.activity.AddEventActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_event"
            android:parentActivityName=".app.activity.EventsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.kedziora.emilek.roomies.app.activity.EventsActivity" />
        </activity>
    </application>

</manifest>
